<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Countries</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">
    <script th:src="@{'https://code.jquery.com/jquery-3.6.0.min.js'}"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js'}"></script>

</head>
<body>
<div th:insert="~{/navbar :: content}"></div>

<div class="container my-2">

    <h1>Customer list</h1>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
            data-bs-target="#addModal">
        Add customer
    </button>
    <div class="row">
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead>
                <tr>
                    <th class="text-center">Customer id</th>
                    <th class="text-center">First name</th>
                    <th class="text-center">Last name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Active</th>
                    <th class="text-center">Last update</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${customers.getContent()}">
                    <td class="text-center" th:text="${c.customerId}"></td>
                    <td class="text-center" th:text="${c.firstName}"></td>
                    <td class="text-center" th:text="${c.lastName}"></td>
                    <td class="text-center" th:text="${c.email}"></td>
                    <td class="text-center" th:text="${c.active}"></td>
                    <td class="text-center" th:text="${#temporals.format(c.lastUpdate, 'dd-MM-yyyy HH:mm')}"></td>

                    <td>
                        <button type="button"
                                class="btn btn-sm btn-primary fas fa-pencil-alt noUnderlineCustom text-black-50"
                                data-bs-toggle="modal"
                                th:attr="data-bs-target=${'#editModal'+ c.customerId}"
                                data-row="${customer}">
                        </button>
                        <button type="button"
                                class="btn  btn-sm btn-success fas fa-solid fa-trash noUnderlineCustom text-black-50"
                                data-bs-toggle="modal"
                                th:attr="data-bs-target=${'#deleteModal'+c.customerId}"
                                data-row="${customer}">
                        </button>
                        <button type="button"
                                class="btn btn-sm btn-primary fas fa-regular fa-glasses noUnderlineCustom text-white"
                                data-bs-toggle="modal"
                                th:attr="data-bs-target=${'#infoModal' + c.customerId}" data-row="${customer}">
                        </button>
                        <button type="button"
                                class="btn btn-sm btn-primary fas fa-solid fa-calculator noUnderlineCustom text-white"
                                data-bs-toggle="modal"
                                th:attr="data-bs-target=${'#cashModal' + c.customerId}" data-row="${customer}">
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal add-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/customers/add}" method="post">
                <div class="modal-body">
                    <label for="customerFirstName" th:text="'Input customer first name: '"></label>
                    <input type="text" id="customerFirstName" name="firstName">
                </div>
                <div class="modal-body">
                    <label for="customerSecondName" th:text="'Input customer Surname: '"></label>
                    <input type="text" id="customerSecondName" name="lastName">
                </div>
                <div class="modal-body">
                    <label for="customerEmail" th:text="'Input customer email: '"></label>
                    <input type="text" id="customerEmail" name="email">
                </div>
                <div class="mb-3">
                    <label for="select-address" class="form-label" th:text="'Address: '"></label>
                    <select id="select-address" class="selectpicker" name="addressId">
                        <option th:each="a : ${addresses}"
                                th:value="${a.addressId}"
                                th:text="${a.address}"></option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Show-->
<div class="modal fade" th:each="row : ${customers.getContent()}" th:attr="id=${'infoModal' + row.customerId}"
     tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="'More Info' "></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p th:text="'Address: ' + ${row.address}"></p>
                <p th:text="'Address2: ' + ${row.address2}"></p>
                <p th:text="'District: ' + ${row.district}"></p>
                <p th:text="'City: ' + ${row.cityTitle}"></p>
                <p th:text="'Postal code: ' + ${row.postalCode}"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Cash-->
<div class="modal fade" th:each="row : ${customers.getContent()}" th:attr="id=${'cashModal' + row.customerId}"
     tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="'Cash history for ' + ${row.customerId}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p th:text="'Payment: ' + ${row.amount}"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Modal edit-->
<div class="modal fade" th:each="c : ${customers.getContent()}" th:attr="id=${'editModal' + c.customerId}" tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eModalLabel">Update customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/customer/update}" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="hidden" name="customerId" th:value="${c.customerId}">
                        <label for="customerFirstName1" class="form-label"
                               th:text="'Input customer first name: '"></label>
                        <input type="text" class="form-control" id="customerFirstName1" name="firstName"
                               th:value="${c.firstName}">
                    </div>
                    <div class="mb-3">

                        <label for="customerLastName1" class="form-label"
                               th:text="'Input customer last name: '"></label>
                        <input type="text" class="form-control" id="customerLastName1" name="lastName"
                               th:value="${c.lastName}">
                    </div>
                    <div class="mb-3">
                        <label for="customerEmail1" class="form-label"
                               th:text="'Input customer email: '"></label>
                        <input type="text" class="form-control" id="customerEmail1" name="email"
                               th:value="${c.email}">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:if="${customers.getTotalPages() > 1}">
    <div class="row col-sm-12">
        <div class="col-sm-2">
            Total Rows: [[${customers.getTotalElements()}]]
        </div>
        <div class="col-sm-10">
                    <span th:each="i: ${#numbers.sequence(1, customers.getTotalPages())}">
      <a th:if="${customers.getNumber()  != i -1 }" th:href="@{'/customers/list?page=' + ${i - 1}}">[[${i}]]</a>
      <span th:unless="${customers.getNumber()   != i -1 }">[[${i}]]</span> &nbsp; &nbsp;
                    </span>
        </div>
    </div>
</div>

<!--Modal delete-->
<div class="modal fade" th:each="row : ${customers.getContent()}" th:attr="id=${'deleteModal' + row.customerId}"
     tabindex="-1"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dModalLabel" th:text="'Delete customer: ' + ${row.customerId}"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/customer/delete}" method="post">
                <div class="modal-body">
                    <input type="hidden" name="customerId" th:value="${row.customerId}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
