<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Countries</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
          crossorigin="anonymous">
    <script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js'}"></script>
    <script th:src="@{'https://code.jquery.com/jquery-3.6.0.min.js'}"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
<div th:include="/navbar::content"></div>

<div class="container">

    <h1>Customer list</h1>
    <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
            data-bs-target="#addModal">
        Add customer
    </button>
    <div class="row">
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead>
                <tr>
                    <th class="text-center">Customer id</th>
                    <th class="text-center">First name</th>
                    <th class="text-center">Last name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Active</th>
                    <th class="text-center">City</th>
                    <th class="text-center">Postal Code</th>
                    <th class="text-center">Phone number</th>
                    <th class="text-center">Last update</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="c : ${customers}">
                    <td class="text-center" th:text="${c.customerId}"></td>
                    <td class="text-center" th:text="${c.firstName}"></td>
                    <td class="text-center" th:text="${c.lastName}"></td>
                    <td class="text-center" th:text="${c.email}"></td>
                    <td class="text-center" th:text="${c.active}"></td>
                    <td class="text-center" th:text="${c.address.city.cityTitle}"></td>
                    <td class="text-center" th:text="${c.address.postalCode}"></td>
                    <td class="text-center" th:text="${c.address.phone}"></td>
                    <td class="text-center" th:text="${#temporals.format(c.createDate, 'dd-MM-yyyy HH:mm')}"></td>

                    <td>
                        <button type="button"
                                class="btn btn-sm btn-primary fas fa-pencil-alt noUnderlineCustom text-black-50"
                                data-bs-toggle="modal"
                                th:attr="data-bs-target=${'#editModal'+ c.customerId}"
                                data-row="${customer}"></button>
                        <button type="button"
                                class="btn  btn-sm btn-success fas fa-solid fa-trash noUnderlineCustom text-black-50"
                                data-bs-toggle="modal"
                                th:attr="data-bs-target=${'#deleteModal'+c.customerId}"
                                data-row="${customer}"></button>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Modal add-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add customer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/customers/add}" method="post">
                <div class="modal-body">
                    <label for="customerFirstName" th:text="'Input customer first name: '"></label>
                    <input type="text" id="customerFirstName" name="firstName">
                </div>
                <div class="modal-body">
                    <label for="customerSecondName" th:text="'Input customer Surname: '"></label>
                    <input type="text" id="customerSecondName" name="lastName">
                </div>
                <div class="modal-body">
                    <label for="customerEmail" th:text="'Input customer email: '"></label>
                    <input type="text" id="customerEmail" name="email">
                </div>
                <div class="mb-3">
                    <label for="select-address" class="form-label" th:text="'Address: '"></label>
                    <select id="select-address" class="selectpicker" name="addressId">
                        <option th:each="a : ${addresses}"
                                th:value="${a.addressId}"
                                th:text="${a.address}"></option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>
